<div class="news-item">
  <div class="news-date"><%= news.created_at.day %><br/><%= I18n.t("date.month_names")[news.created_at.month] %></div>
  <div class="news-content">
    <h2><%= news.title %></h2>
    <p><%= news.content %></p>
    <span class="news-read-more"><%= link_to 'ЧИТАТЬ НОВОСТЬ', news %></span>
  </div>
</div>