<!-- slider -->
<%= render 'partials/slider' %>

<div class="content-div">

  <!-- sidebar -->
  <%= render 'partials/sidebar' %>

  <div class="content-container">
    <%= render partial: 'partials/product', collection: @products %>


    <div class="clear"></div>
    <!-- paginator -->
    <%= render 'partials/paginator' %>

  </div>
</div>

<div class="news-div">
  <%= render partial: 'partials/news', collection: @news %>
</div>