<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Combat35</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="main-div">
  <!-- header -->
  <%= render 'partials/header' %>


  <!-- slider -->
  <%= render 'partials/slider' %>

  <div class="content-div">

    <!-- sidebar -->
    <%= render 'partials/sidebar' %>

    <div class="content-container">
      <%= render 'partials/catalog_item' %>

      <%= render 'partials/catalog_item' %>

      <%= render 'partials/catalog_item' %>

      <div class="clear"></div>
      <!-- paginator -->
      <%= render 'partials/paginator' %>

    </div>
  </div>

  <div class="news-div">
    <%= render 'partials/news_item' %>

    <%= render 'partials/news_item' %>

    <%= render 'partials/news_item' %>
  </div>

  <!-- footer -->
  <%= render 'partials/footer' %>

</div>


<%= yield %>

</body>
</html>
