<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Combat35</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="main-div">
  <div class="header-div">
    <div class="head">
      <div class="menu-logo">
        <a href="#"><%= image_tag('logo.png', class: 'logo') %></a>
      </div>

      <div class="menu-div">
        <ul class="menu">
          <li class="active"><a href="#">ГЛАВНАЯ</a></li>
          <li><a href="#">КАТАЛОГ</a></li>
          <li><a href="#">НОВОСТИ</a></li>
          <li><a href="#">ИНФОРМАЦИЯ И КОНТАКТЫ</a></li>
        </ul>
      </div>

      <div class="menu-info">
        <p><%= image_tag('phone.png') %>(8202) 51-02-95</p>
        <p><%= image_tag('home.png') %>Череповец, ул. Парковая, д 7</p>
      </div>
    </div>
  </div>

  <div class="slider-div">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag('1.jpeg') %>
          <div class="carousel-caption">15 ЛЕТ НА РЫНКЕ ПРОДАЖИ ОРУЖИЯ</div>
        </div>
        <div class="item">
          <%= image_tag('2.jpeg') %>
          <div class="carousel-caption">15 ЛЕТ НА РЫНКЕ ПРОДАЖИ ОРУЖИЯ</div>
        </div>
        <div class="item">
          <%= image_tag('3.jpeg') %>
          <div class="carousel-caption">15 ЛЕТ НА РЫНКЕ ПРОДАЖИ ОРУЖИЯ</div>
        </div>
        <div class="item">
          <%= image_tag('4.jpeg') %>
          <div class="carousel-caption">15 ЛЕТ НА РЫНКЕ ПРОДАЖИ ОРУЖИЯ</div>
        </div>
        <div class="item">
          <%= image_tag('5.jpeg') %>
          <div class="carousel-caption">15 ЛЕТ НА РЫНКЕ ПРОДАЖИ ОРУЖИЯ</div>
        </div>
        <div class="item">
          <%= image_tag('6.jpeg') %>
          <div class="carousel-caption">15 ЛЕТ НА РЫНКЕ ПРОДАЖИ ОРУЖИЯ</div>
        </div>
        <div class="item">
          <%= image_tag('7.jpeg') %>
          <div class="carousel-caption">15 ЛЕТ НА РЫНКЕ ПРОДАЖИ ОРУЖИЯ</div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>

  </div>

  <div class="content-div">
    <div class="catalog-menu">
      <ul>
        <li class="catalog-catpion">КАТАЛОГ</li>
        <li class="catalog-active"><a href="#">Оружие нарезное</a><%= image_tag('arrow.png') %></li>
        <li><a href="#">Оружие гладкоствольное</a><%= image_tag('arrow.png') %></li>
        <li><a href="#">Оружие бесствольное</a><%= image_tag('arrow.png') %></li>
        <li><a href="#">Оружие травматическое</a><%= image_tag('arrow.png') %></li>
        <li><a href="#">Пневматика</a><%= image_tag('arrow.png') %></li>
        <li><a href="#">Ножи</a><%= image_tag('arrow.png') %></li>
        <li><a href="#">Оптика</a><%= image_tag('arrow.png') %></li>
        <li><a href="#">Снаряжение</a><%= image_tag('arrow.png') %></li>
        <li><a href="#">Одежда, обувь</a><%= image_tag('arrow.png') %></li>
        <li><a href="#">Чехлы, ремни</a><%= image_tag('arrow.png') %></li>
        <li><a href="#">Запчасти</a><%= image_tag('arrow.png') %></li>
        <li><a href="#">Товары для рыбалки</a><%= image_tag('arrow.png') %></li>
        <li><a href="#">Патроны нарезные</a><%= image_tag('arrow.png') %></li>
        <li><a href="#">Патроны гладкие</a><%= image_tag('arrow.png') %></li>
        <li><a href="#">Патроны травматические</a><%= image_tag('arrow.png') %></li>
      </ul>
      <input type="search" class="search"></input>
      <input type="button" class="search-btn" value="Поиск"></input>
      <!--<div class="search-btn">Поиск</div>-->
      <div class="clear"></div>
      <br/>
      <a href="#" class="ext-search">Расширенный поиск</a>

      <div class="adv">
        <p>Магазин принимает к оплате пластиковые карты</p>
        <%= image_tag('mc.png') %>
        <%= image_tag('visa.png') %>
      </div>

      <div class="adv">
        <p><a href="">У нас вы можете приобрести подарочные сертификаты</a></p>
        <%= image_tag('cert.png') %>
      </div>
    </div>

    <div class="content-container">
      <div class="catalog-imem">
        <div class="content-item-wraper">
          <%= image_tag('w1.png') %>
          <p><a href="#">Охотничье ружье ИЖ-27</a>
            <br/>
            <span>15000 Р.</span>
          </p>
        </div>
      </div>

      <div class="catalog-imem">
        <div class="content-item-wraper">
          <%= image_tag('w2.png') %>
          <p><a href="#">Охотничье ружье Бекас-12М</a>
            <br/>
            <span>15000 Р.</span>
          </p>
        </div>
      </div>

      <div class="catalog-imem">
        <div class="content-item-wraper">
          <%= image_tag('w3.png') %>
          <p><a href="#">Охотничье ружье ARMED SAS 12,28</a>
            <br/>
            <span>15000 Р.</span>
          </p>
        </div>
      </div>

      <div class="catalog-imem">
        <div class="content-item-wraper">
          <%= image_tag('w4.png') %>
          <p><a href="#">Охотничье ружье MP-135 Baikal</a>
            <br/>
            <span>15000 Р.</span>
          </p>
        </div>
      </div>

      <div class="catalog-imem">
        <div class="content-item-wraper">
          <%= image_tag('w5.png') %>
          <p><a href="#">Охотничье ружье Beretta 1201</a>
            <br/>
            <span>15000 Р.</span>
          </p>
        </div>
      </div>

      <div class="catalog-imem">
        <div class="content-item-wraper">
          <%= image_tag('w6.png') %>
          <p><a href="#">Охотничье ружье ИЖ-54</a>
            <br/>
            <span>15000 Р.</span>
          </p>
        </div>
      </div>

      <div class="catalog-imem">
        <div class="content-item-wraper">
          <%= image_tag('w1.png') %>
          <p><a href="#">Охотничье ружье ИЖ-27</a>
            <br/>
            <span>15000 Р.</span>
          </p>
        </div>
      </div>

      <div class="catalog-imem">
        <div class="content-item-wraper">
          <%= image_tag('w2.png') %>
          <p><a href="#">Охотничье ружье Бекас-12М</a>
            <br/>
            <span>15000 Р.</span>
          </p>
        </div>
      </div>

      <div class="catalog-imem">
        <div class="content-item-wraper">
          <%= image_tag('w3.png') %>
          <p><a href="#">Охотничье ружье ARMED SAS 12,28</a>
            <br/>
            <span>15000 Р.</span>
          </p>
        </div>
      </div>

      <div class="catalog-imem">
        <div class="content-item-wraper">
          <%= image_tag('w4.png') %>
          <p><a href="#">Охотничье ружье MP-135 Baikal</a>
            <br/>
            <span>15000 Р.</span>
          </p>
        </div>
      </div>

      <div class="catalog-imem">
        <div class="content-item-wraper">
          <%= image_tag('w5.png') %>
          <p><a href="#">Охотничье ружье Beretta 1201</a>
            <br/>
            <span>15000 Р.</span>
          </p>
        </div>
      </div>

      <div class="catalog-imem">
        <div class="content-item-wraper">
          <%= image_tag('w6.png') %>
          <p><a href="#">Охотничье ружье ИЖ-54</a>
            <br/>
            <span>15000 Р.</span>
          </p>
        </div>
      </div>

      <div class="clear"></div>
      <div class="paginator">
        <ul>
          <li><a href="#">«</a></li>
          <li><a href="#" class="page-active">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="news-div">
    <div class="news-item">
      <div class="news-date">16<br/>июня</div>
      <div class="news-content">
        <h2>Скидки для постоянных покупателей</h2>
        <p>Размер скидки для каждого покупателя зависит от общей суммы его покупок. Как только сумма общих покупок достигнет определенной суммы, то покупатель получает фиксированную... скидку...</p>
        <span class="news-read-more"><a href="#">ЧИТАТЬ НОВОСТЬ</a></span>
      </div>
    </div>

    <div class="news-item">
      <div class="news-date">16<br/>мая</div>
      <div class="news-content">
        <h2>Скидки для постоянных покупателей</h2>
        <p>Размер скидки для каждого покупателя зависит от общей суммы его покупок. Как только сумма общих покупок достигнет определенной суммы, то покупатель получает фиксированную... скидку...</p>
        <span class="news-read-more"><a href="#">ЧИТАТЬ НОВОСТЬ</a></span>
      </div>
    </div>

    <div class="news-item">
      <div class="news-date"><span>16<br/>сентября</span></div>
      <div class="news-content">
        <h2>Скидки для постоянных покупателей</h2>
        <p>Размер скидки для каждого покупателя зависит от общей суммы его покупок. Как только сумма общих покупок достигнет определенной суммы, то покупатель получает фиксированную... скидку...</p>
        <span class="news-read-more"><a href="#">ЧИТАТЬ НОВОСТЬ</a></span>
      </div>
    </div>
  </div>

  <div class="footer-div">
    <div class="footer">
      <div class="footer-left-div">
        <div class="footer-left-center">
          <ul class="footer-menu">
            <li class="active"><a href="#">ГЛАВНАЯ</a></li>
            <li><a href="#">КАТАЛОГ</a></li>
            <li><a href="#">НОВОСТИ</a></li>
            <li><a href="#">ИНФОРМАЦИЯ И КОНТАКТЫ</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-right-div">
        <p>(8202) 51-02-95</p>
        <p>Череповец, ул. Парковая, д 7</p>
        <p><a href="#">Схема проезда</a></p>
        <p><a href="">Режим работы</a></p>
      </div>
    </div>
  </div>

</div>


<%= yield %>

</body>
</html>
